$cell-size: 64px;
$sprite-tile-size: 32px;
$sprite-x: 8;
$sprite-y: 12;
$sprite-ratio: $cell-size / $sprite-tile-size * $sprite-tile-size;

.level-row {
  > .tile {
    width: $cell-size;
    height: $cell-size;
    position: relative;
    display: inline-block;

    &::after {
      background: url(../images/tiles.png);
      background-size: $sprite-x * $sprite-ratio $sprite-y * $sprite-ratio;
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &.-boy {
      &.-down {
        &::after {
          background-position: 0 0;
        }
      }
      &.-left {
        &::after {
          background-position: 0 $sprite-ratio * -1;
        }
      }
      &.-up {
        &::after {
          background-position: 0 $sprite-ratio * -2;
        }
      }
      &.-right {
        &::after {
          background-position: 0 $sprite-ratio * -3;
        }
      }
    }

    &.-floor {
      &::after {
        background-position: 0 $sprite-ratio * -1;
      }
    }

    &.-wall {
      &::after {
        background-position: $sprite-ratio * -2 $sprite-ratio * -1;
      }
    }
  }
}
