$cell-size: 48px;
$sprite-tile-size: 32px;
$sprite-x: 8;
$sprite-y: 12;
$sprite-ratio: $cell-size / $sprite-tile-size * $sprite-tile-size;

@font-face {
  font-family: DigitalDream;
  src: url(../fonts/digital-dream.regular.ttf);
}

@font-face {
  font-family: Digital7;
  src: url(../fonts/digital-7.ttf);
}

@mixin tile($x, $y) {
  &::after {
    background-position: $sprite-ratio * -1 * $x $sprite-ratio * -1 * $y;
  }
}

@mixin inverse-panel {
  border-top: 5px solid gray;
  border-left: 5px solid gray;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

@mixin panel {
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid gray;
  border-bottom: 5px solid gray;
}

.game-container {
  display: flex;

  > .content {
    @include panel();
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    position: relative;
    background-color: lightgray;

    > .modal {
      @include panel();
      position: absolute;
      padding: 0.5rem 1rem;
      z-index: 1;
      text-align: center;

      &.-level {
        font-size: 2rem;
        color: yellow;
        background-color: black;

        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        white-space: nowrap;
        text-transform: uppercase;
      }

      &.-dead {
        color: black;
        background-color: white;
        border: 0.5rem solid blue;

        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  > .sidebar {
    @include panel();
    text-align: center;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .hint {
      @include inverse-panel();

      font-size: 2rem;
      font-style: oblique;
      color: cyan;
      background-color: black;

      width: $cell-size * 4 - 10px;
    }
  }
}

.data-list {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.4rem;

  > .term {
    color: red;
    font-size: 2rem;
    text-shadow: 1px 1px 0 black, -1px -1px 0 white;
    word-break: break-word;
  }

  > .description {
    @include inverse-panel();

    font-family: "Digital7", sans-serif;
    color: darken(darkgreen, 10%);
    background-color: black;
    font-size: 2.5rem;
    text-align: right;
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 100%;

    > .value {
      color: greenyellow;
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
